* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

img {
  min-height: 100px;
  max-height: 150px;
  display: flex;
  justify-content: center;
}

.flexrow {
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-button{
  width: 20em;
}
